{% extends "base.html" %}

{% set domain = "applicationpage" %}
{% set title = "Om Samlingen" %}


{% block page_complementary %}
    <div class="complementary--default dropdown" role="complementary">
        <ul></ul>
    </div>
{% endblock page_complementary %}

{% block page_header %}
    <div class="page-header">
        <h3>SØGEVEJLEDNING</h3>
    </div>
{% endblock page_header %}

{% block page_content %}
    <div class="page-content apppage">
        <h4 class="pad-top_large">SØGNING EFTER FORESTILLING</h4>
        <p>Ved hver forestilling vil man kunne se premieredato, antal opførelser, rolleliste, div. kunstnerisk og teknisk personale samt oplysninger om relaterede arkivalier i arkivets samlinger. Der vil løbende blive lagt programmer og billeder op fra samtlige forestillinger siden teatrets indvielse og til i dag.</p>
        <p><i>Eksempel:</i></p>
        <ul>
            <li>Skriv <i>Erasmus Montanus</i> i søgefeltet</li>
            <li>Samtlige opsætninger af Erasmus Montanus på Aarhus Teater vil vise sig i dropdown-menuen</li>
            <li>Klik på den opsætning (sæson) du søger, og alle oplysninger om forestillingen vil blive vist</li>
            <li>Under sceneroller står samtlige medvirkende skuespillere og under produktionshold øvrigt personale på forestillingen. Du kan klikke dig videre på de enkelte navne.</li>
            <li>For forestillingsbilleder og andre digitaliserede arkivalier, klik på <a href="https://aarhusteaterarkiv-web.appspot.com/events/111820">Se relevante arkivalier</a></li>
        </ul>
        <h4 class="pad-top_large">SØGNING EFTER PERSON</h4>
        <p>Ved søgning på Person kommer oplysninger om samtlige forestillinger, vedkommende har medvirket i eller arbejdet på samt billeder, relaterede arkivalier og evt.  relevante biografiske oplysninger.</p>
        <p><i>Eksempel:</i></p>
        <ul style="padding-bottom:1em;">
            <li>Skriv <i>Aksel Erhardsen</i> i søgefeltet</li>
            <li>Samtlige roller han har spillet på Aarhus Teater vil blive vist, og du kan herfra klikke dig videre til den enkelte forestillinger.</li>
            <li>For billeder af Aksel Erhardsen og evt. andre arkivalier klik på <a href="https://aarhusteaterarkiv-web.appspot.com/people/113907">Se relevante arkivalier</a></li>
        </ul>
        <h4 class="pad-top_large" style="font-size:95%;">BILLEDVISNING</h4>
        <p class="">Når du er klikket ind via <i>Se relevante arkivalier</i> vil du få vist en oversigt med thumbnails af f.eks. forestillingsbilleder. Ved et klikke på det enkelte billede vil du få oplysninger om hvem det forestiller, fotografen etc.</p>
        <h4 style="padding-top:1em;">SØGNING EFTER SÆSON</h4>
        <p><i>Fra hovedsiden:</i></p>
        <ul>
            <li>Placér markøren i søgefeltet</li>
            <li>Klik på Forestillinger under søgefiltre</li>
            <li>Klik på ønsket sæson</li>
            <li>Du vil nu få vist alle forestillinger i den valgte sæson, og kan herfra klikke dig ind på de enkelte.</li>
        </ul>
    </div>
{% endblock page_content %}
