.body-wrapper {
	height: 100%;
	min-height: 100%;
}

.homepage .body-wrapper {
	height: auto;
	// TODO
	// Fix on non-homepage pages, when viewport is less than major breakpoint
}

.no-js .body-wrapper {
	max-width: $maxWidthColumn;
	margin: 0 auto;
}
