// http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
.media {
    @extend .clearfix;
}

.media_left {
    float: left;
    margin-right: $paddingMedium;
    @media screen and (min-width:45em) {
        margin-right: $paddingLarge;
    }
}

.media_right {
    float: right;
    margin-left: $paddingMedium;
    @media screen and (min-width:45em) {
        margin-left: $paddingLarge;
    }
}

.media_content {
    overflow: hidden;
}
