{% extends "base.html" %}

{% set domain = "applicationpage" %}
{% set title = "Praktisk information" %}


{% block page_complementary %}
    <div class="complementary--default dropdown" role="complementary">
        <ul></ul>
    </div>
{% endblock page_complementary %}

{% block page_header %}
    <div class="page-header">
		<h3 class="pad-top_large">PRAKTISK INFORMATION</h3>
    </div>
{% endblock page_header %}

{% block page_content %}
    <div class="page-content">
        <p>Aarhus Teaters Arkiv bestyres af arkivar & historiker Marianne Ninna Philipsen.</p>
        <p>Forespørgsler vedr. specifikke arkivalier eller historiske oplysninger modtages via e-mail og behandles løbende.</p>
        <p>Der er ingen faste åbningstider, men har man specifikke forespørgsler vedr. ikke- digitaliserede arkivalier, kan arkivet besøges efter aftale.</p>
        <h4 class="pad-top_large">KONTAKT</h4>
        <dl>
            <dt style="font-weight:bold;font-size:90%;">ARKIVAR</dt>
            <dd style="padding-left:1.2em;">Marianne Ninna Philipsen</dd>
            <dt style="font-weight:bold;font-size:90%;">ADRESSE</dt>
            <dd style="padding-left:1.2em;">Aarhus Teaters Arkiv & Historie, Skolegade 9, 8000 Aarhus C</dd>
            <dt style="font-weight:bold;font-size:90%;">TLF. NUMMER</dt>
            <dd style="padding-left:1.2em;">+45 89 33 23 59 / 28772252</dd>
            <dt style="font-weight:bold;font-size:90%;">EMAIL</dt>
            <dd style="padding-left:1.2em;"><a href="mailto:arkivar@aarhusteater.dk">arkivar@aarhusteater.dk</a></dd>
            <dt style="font-weight:bold;font-size:90%;">HJEMMESIDE</dt>
            <dd style="padding-left:1.2em;"><a href="https://www.aarhusteater.dk/om-teatret/om-huset/">http://www.aarhusteater.dk/om-teatret/om-huset/</a></dd>
		</dl>
<!-- 
		<p>Her følger lidt praktisk info.</p>
		<br>
		<h3>Læsesalen</h3>
		<dl class="contactlist">
			<dt>Åbningstider</dt>
			<dd>
				<p>Tirsdag-torsdag kl. 8-14</p>
				<p>Lukket: Helligdage, mellem jul og nytår og i juli.</p>
			</dd>
			<dt>Internet</dt>
			<dd><p>Der findes trådløst netværk i læsesalen (SmartAarhus)</p></dd>
			<dt>Når du ankommer</dt>
			<dd>
				<p>Overtøj, tasker og andet, som ikke må medtages på læsesalen, skal efterlades i garderoben.</p>
				<p>Når du ankommer, skal du skrive dig ind i besøgsprotokollen. Herefter skal du fremvise dine medbragte effekter til en medarbejder. Medbragt laptop eller tablet skal åbnes. Til slut vil du få anvist en læsesalsplads.</p>
			</dd>
			<dt>Garderobe</dt>
			<dd>
				<p>Der er en garderobe ved læsesalen.</p>
			</dd>
		</dl>
-->
    </div>
{% endblock page_content %}
