{# Complementary content on resource-pages. To be placed inside block page_complementary #} 
<li class="list_item">
    <a class="list_link pre-icon icon_suggestion" href="mailto:{{site.mail}}?Subject=Forslag:{{id}}">Send ændringsforslag</a>
</li>

{% if request.session.user and collection != 'records' %}
    {# DELAYED
    <li class="list_item">
        <a class="list_link pre-icon icon_edit" href="?operation=edit">Redigér stamdata</a>
    </li>
    #}
    {% if resource.relations %}
        <li class="list_item">
            <a id="edit-relations" class="list_link pre-icon icon_edit activator">Redigér relationer</a>
        </li>
    {% endif %}
{% endif %}
